/* INCIO - GENERALES */
body {
  background-color: #000000;
}
/* FIN - GENERALES */

/* INICIO - HEADER */
#header {
  background-color: transparent;
  border: 2px whitesmoke solid;
  border-width: 0px 0px 2px;
  text-transform: uppercase;
  position: fixed;
  z-index: 100 !important;
}

#header a {
  color: whitesmoke;
  transition: 0.5s;
}

#header a:hover {
  color: #930a0a;
}
/* FIN - HEADER */

/* INICIO - MAIN */
#main {
  height: 650px;
  background-image: radial-gradient(#e6646400, #000000),
    url(./img/main_fondo.png);
  background-position: 50% 50%;
  background-size: 1900px 700px;
}

#main div {
  padding: 150px 0px 0px 100px;
  width: 50%;
  float: left;
  color: whitesmoke;
}

#main h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

#main p {
  font-size: 1.2rem;
}

#main span {
  color: #930a0a;
  font-weight: 700;
}

@media (max-width: 768px) {
  #main {
    height: 600px;
    background-position: 55% 50%;
    background-size: 1900px 700px;
  }

  #main div {
    padding: 150px 0px 0px 100px;
    width: 65%;
  }

  #main h1 {
    font-size: 2.5rem;
  }

  #main p {
    font-size: 1rem;
  }
}

@media (max-width: 578px) {
  #main {
    height: 500px;
    background-position: 30% 50%;
    background-size: 1900px 700px;
  }

  #main div {
    padding: 80px;
    padding-top: 150px;
    width: 100%;
  }

  #main h1 {
    font-size: 2rem;
  }

  #main p {
    font-size: 0.8rem;
  }
}
/* FIN - MAIN */

/* INICIO - CAROUSEL */
.carousel-main {
  color: whitesmoke;
  text-align: center;
  margin-top: 35px;
}

.carousel-main p {
  margin: 20px, 10px 0px;
  font-size: 1.2rem;
}

.carousel-main h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: 0.5s;
  border-width: 0px 0px 2px;
}

.carousel-main h3:hover {
  color: #930a0a;
  cursor: pointer;
}

@media (max-width: 578px) {
  .carousel-main p {
    font-size: 1rem;
    margin: 20px 20px 15px;
  }

  .carousel-main h3 {
    font-size: 1.2rem;
  }
}
/* 
/* FIN - CAROUSEL */

/* INICIO - POPULAR-TOURS */
.popular-tours {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.popular-tours .card {
  width: 220px !important;
  height: 350px !important;
  display: inline-block;
  margin: auto;
  margin: 0 20px 20px;
  overflow: hidden;
  background-color: rgb(26, 26, 26);
  border: 1px solid rgb(56, 56, 56);
  transition: 1s;
}

.popular-tours .card:hover {
  width: 250px !important;
  height: 380px !important;
  margin: 0 10px 10px;
}

.popular-tours .card img {
  height: 90%;
}

.popular-tours .card p {
  color: whitesmoke;
  text-transform: uppercase;
}

.lista-lugares {
  display: inline-block;
  text-align: center;
}

@media (max-width: 578px) {
  .popular-tours .card {
    height: 300px !important;
  }
}
/* FIN - POPULAR-TOURS */

/* INICIO - FOOTER */
.footer {
  background-color: whitesmoke;
  text-align: center;
  font-size: 1.5rem;
  padding: 30px;
  color: black;
}

.redes-footer p:hover {
  color: #930a0a;
}

.redes-footer p {
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.redes-footer p:last-of-type {
  margin-right: 0px;
}

.nombre-footer {
  margin-top: 15px;
}

@media (max-width: 578px) {
  .footer {
    font-size: 1rem;
  }
}
/* FIN - FOOTER */

/* INICIO - ABOUTUS */
.about-us {
  padding-top: 60px;
}

.about-us {
  color: whitesmoke;
}

.about-us img {
  max-width: 500px;
  padding: 100px 0 100px;
}

.extra-aboutus {
  text-align: center;
  font-style: italic;
}

.informacion-about-us {
  padding: 100px;
}

.about-us p {
  font-size: 1.2rem;
}

.informacion-about-us h1 {
  text-transform: uppercase;
  color: #930a0a;
  font-weight: 700;
  font-size: 3rem;
}

.informacion-about-us strong {
  color: #930a0a;
}

@media (max-width: 966px) {
  .img-aboutus {
    display: none;
  }

  .about-us {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .about-us h1 {
    font-size: 2.5rem;
  }

  .about-us p {
    font-size: 1rem;
  }
}

@media (max-width: 578px) {
  .about-us h1 {
    font-size: 1.5rem;
  }

  .about-us p {
    font-size: 0.8rem;
  }
}
/* FIN - ABOUTUS */

/* INICIO - CONTACT */
.contact {
  padding: 125px;
  color: #930a0a;
}

.contact p {
  color: whitesmoke;
  font-style: oblique;
  text-align: center;
}

.contact button {
  background-color: whitesmoke;
  border-color: black;
  color: black;
}

.contact button:hover {
  background-color: #930a0a;
  border-color: black;
  color: black;
}
/* FIN - CONTACT */
